# Environment vars
*.env

# Python stuff
venv/
linux_venv/
.*__pycache__.*
__pycache__/
*.pyc
.ipynb_checkpoints/

# Data
Data/mllm_experiment_results/
Data/map_data_for_plotting/
Data/teaching_pool/*
Data/exam_teaching_pool/*
*.parquet
*.png
*.gif
*.cpg
*.cpg:Zone.Identifier
*.prj
*.shp
*.shx
*.pkl
*.jpeg
*.npy
*.db
*.db-wal
*.db-shm
*.csv

# Models
bohb_*_tuning*/

# Notebook backups
Backups/

# VS Code
.vscode

# Notes etc. 
notes.md
AGENTS.md