# Environment vars
*.env

# Python stuff
venv/
linux_venv/
.*__pycache__.*
__pycache__/
*.pyc
.ipynb_checkpoints/

# Ray Tune and BOHB results
bohb_*_tuning*/

# Data
Data/
*.parquet

# Notebook backups
Notebooks/Backups/

# VS Code
.vscode
