# Environment vars
*.env

# Python stuff
venv/
linux_venv/
.*__pycache__.*
.ipynb_checkpoints/

# Ray Tune and BOHB results
bohb_*_tuning*/

# Data
Data/
*.parquet

# Notebook backups
Notebooks/Backups/
